@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "fontasia";
    src: url("/fonts/fontasia-webfont.eot");
    src:
      url("/fonts/fontasia-webfont.eot?#iefix") format("embedded-opentype"),
      url("/fonts/fontasia-webfont.woff") format("woff"),
      url("/fonts/fontasia-webfont.ttf") format("truetype"),
      url("/fonts/fontasia-webfont.svg#fontasiaregular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 22 78% 26%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 0 70% 35%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  @apply bg-[url('/wallpaperDouble.webp')] bg-repeat-y;
  @apply bg-center;
  @apply bg-[size:100%];
  @apply bg-[position:top];
}

html {
  font-size: 12px;
}

@layer utilities {
  .background-animate {
    background-size: 400% 400%;
    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    -o-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;
  }

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 52%;
    }
    50% {
      background-position: 100% 49%;
    }
    100% {
      background-position: 0% 52%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 52%;
    }
    50% {
      background-position: 100% 49%;
    }
    100% {
      background-position: 0% 52%;
    }
  }
  @-o-keyframes AnimationName {
    0% {
      background-position: 0% 52%;
    }
    50% {
      background-position: 100% 49%;
    }
    100% {
      background-position: 0% 52%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 52%;
    }
    50% {
      background-position: 100% 49%;
    }
    100% {
      background-position: 0% 52%;
    }
  }
}
